.montserrat-variable {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
  padding: 0;
  margin: 0;
}
body{
  font-family: "Montserrat";
  font-weight: 500;
  background-color: #eae2b7;
}
.bigForm{
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
}
.form{
  padding: 50px;
  display: grid;
  
}
.formGroup{
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: center;
}
.formGroup input{
  padding: 5px;
  font-style: italic;
  font-weight: 100;
}
.formGroup label{
  padding: 5px;
}
.btnEnviar{
  font-size: larger;
  padding: 10px;
  position: absolute;
  transform: translateX(50%);
  background-color: rgb(7, 24, 217);
  border: 2px, groove;
  color: white;
  border-radius: 3%;
}
.btnContainer{
  position: relative;
  padding: 20px;
}
.error{
  background-color: red;
  padding: 20px;
  color: white;
  width: 200px;
  border: 2px,solid;
  border-radius: 3%;
  transform: translateX(15%);
}
.errorContainer{
  padding: 20px;
}
.navbar{
  display: grid;
  grid-column: auto auto;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 10px;
  background-color: #003049;  
}
.leftNavbar{
  display: flex;
  gap: 20px;
  height: 30px;
  align-items: center;
  padding-top: 10px;
}
.rightNavbar{
  gap: 20px;
  height: 30px;
  align-items: center;
  padding-right: 20px;
}
.btnNavbar{
  padding: 5px;
  background-color: #d62828;
  color: white;
  font-weight: 700;
  font-size: large;
  border: 2px groove 0,0,0,0.2;
}
.title{
  padding-left: 10px;
  color: #fcbf49;
}
.titleFooter{
  background-color: #003049;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #eae2b7;
  text-align: center;
  font-size: large;
}
.btnNavbarContainer{
  position: relative;
}
.btnNavbarRight{
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px;
  background-color: #f77f00;
  color: white;
  font-weight: 700;
  font-size: large;
  border: 2px groove 0,0,0,0.2;
}

.card{
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #003049;
  border: 3px solid black;
  border-radius: 3%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s; 
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
} 

.cardGroup{
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  list-style: none;
  gap: 20px;
}
.cardTitle{
  color: #d62828;
  padding: 20px;
  text-align: center;
}

.cardIng{
  list-style: circle;
  padding: 10px;
  padding-left: 50px;

}
.ing{
  color:#eae2b7
}
.cardPrice{
  text-align: center;
  color: #f77f00;;
  padding: 20px;
  font-weight: 700;
}
.cardImg{
  width: 75%;
  padding: 20px;
}
.cardImgCont{
  display: flex;
  justify-content: center;
}
.cardQty{
  text-align: center;
  padding: 20px;
}
.cardQtyGroup{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cardBtn{
  padding: 10px;
  height: fit-content;
}
.totalNavbar{
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;

}
.totalh1{
  color: blue;
  text-align: center;
}
.cardList{
  padding-left: 50px;
  font-style: italic;
}
.ing{
  padding: 20px;
}
.pizzaTitle{
  text-align: center;
  padding: 20px;
  color: blue;
}
.pizzaImgCont{
display: flex;
justify-content: center;
}
.pizzaImg{
  border-radius: 3%;
}
.pizzaDesc{
  padding: 20px;
}
.pizzaLi{
  padding: 10px;
  padding-left: 70px;
}
.pizzaPrice{
  text-align: center;
  color:blue ;
  padding: 20px;
  font-size: larger;
  font-style: italic;
}